<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body >
    {{>navbar}}
      <h1 class="my-5 head hove">Runner's Workout</h1>
      
      <section>
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active ">
                  <img src="../images/fitness1,2.jfif" class="d-block w-100" alt="..." height="500px" width="500px"><h3 class=" imag">Strength</h3>
                </div>
                <div class="carousel-item">
                  <img src="../images/fitness2,1.avif" class="d-block w-100" alt="..." height="500px" width="500px"><h3 class="imag">Mobility</h3>
                </div>
                <div class="carousel-item">
                  <img src="../images/fitness2,2.jpg" class="d-block w-100" alt="..." height="500px" width="500px"><h3 class="imag">Drills</h3>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
      </section>
      
      <br>
      <br>
      <h1 class="head hove">Healthy Diet</h1>
      <section>
    <div class="container ">
        <div class="heal">
            <img src="../images/health1.jfif" alt="" width="25%" height="300px" class="imag1"> 
            <img src="../images/health2.jfif" alt="" width="40%" height="300px" class="imag2"> 
            <img src="../images/health3.jfif" alt="" width="25%" height="300px" class="imag3">       
         </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<footer class="colo ">
    <div class="foot0 hove">
        contact
        <ul>
            <li>12344555</li>
            <li>98764345</li>
        </ul>
    </div>
    <a href="https://careers.google.com/jobs/results/80503484702433990-software-engineering-intern-summer-2023/" class="mx-2 foot hove">Whatsapp</a>
    <a href="#" class="mx-5 foot hove">Copyright</a>
    <a href="#" class="mx-5 foot hove">Term and Conditions</a>
</footer>
</body>
</html>