 <nav class="navbar navbar-expand-lg  ">
        <div class="container-fluid ">
            <a class="navbar-brand " href="/">
                <img src="../images/image1.webp" alt="" width="50" height="35" class="d-inline-block align-text-top">Hello fitness
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a href="../images/live2.png" target="_blank" class="leftpos1">
                    <img src="../images/live.png" alt="#" width="40" height="35" >
                   <h5 class="he5"> Live</h5> 
                </a>
              </li>
              <li class="nav-item">
                <a href="../images/membershipplan.png" target="_blank" class="leftpos2 mb-1" >
                    <img src="../images/membership.png" alt="#" width="40" height="35" class="d-inline-block align-text-top">
                    <h5 class="he5"> MemberShip</h5> 
                </a>
              </li>
             
              <li class="nav-item">
                <a href="http:#" target="_blank" class="leftpos3 " >
                    <img src="../images/plans.jpg" alt="#" width="40" height="40"  >
                    <h5 class="he5"> Plan</h5> 
                </a>
              </li>
              <li class="nav-item">
                    <a href="login"  class="pos mt-n1">
                        <img src="../images/login.png" alt="#" width="40" height="35" >
                        <h5 class="he5"> Login</h5> 
                    </a>
              </li>

              <li class="nav-item">
                <a href="#" class="leftpos4">
                    <img src="../images/more.png" alt="#" width="40" height="35" >
                    <h5 class="he5"> More</h5> 
                </a>
          </li>
            </ul>
            
          </div>
        </div>
      </nav>